[Unit]
Description=hound-search
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill hound-search
ExecStartPre=-/usr/bin/docker rm hound-search
ExecStartPre=/usr/bin/docker pull etsy/hound
ExecStart=/usr/bin/docker run -p 6080:6080 --name hound-search -v /srv/hound/hound-search:/data etsy/hound
ExecStop=/usr/bin/docker stop hound-search

[Install]
WantedBy=multi-user.target
