/* Heading */

.cs-client-js .cs-display-nojs,
.cs-client-nojs .cs-display-onlyjs {
	display: none;
}

.cs-heading {
	text-align: center;
	max-width: 1050px;
	margin: 0 auto;
}

/* Results */

.cs-output-placeholder {
	/* match height of buildFormatNav, avoid margin as it collapsed with form's margin */
	padding-top: 38px;
}
.cs-output > .alert:first-child {
	margin-top: 38px;
}

.cs-result {
	/* override boostrap .card-body */
	padding-top: 0;
	padding-bottom: 0;
	overflow-y: auto;
}

.cs-result code {
	/* override boostrap */
	color: inherit;
	white-space: pre;
}

.cs-line {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 14px;
	/* this prevents long cs-line-code values from being pushed below cs-line-no */
	white-space: pre;
}

.cs-line-no {
	display: inline-block;
	width: 3rem;
	text-align: right;
	padding: 0 0.5rem 0 0;
	/* match boostrap .card border */
	border-right: 1px solid rgba(0,0,0,.125);
	user-select: none;
}

.cs-line-code {
	padding: 3px 0 3px 0.5rem;
}

.cs-highlight,
.cs-line-code em {
	display: inline-block;
	font-style: normal;
	font-weight: bold;
	color: #333;
	background-color: rgba(255,255,140,0.5);
}

.cs-phabresult {
	min-height: 20rem;
	white-space: pre;;
}

/* Footer */

footer {
	text-align: center;
}
