<details open class="card mb-3">
	<summary class="card-header"><a class="link-secondary" href="{{href}}" target="_blank">{{filename}}</a></summary>
	<div class="card-body cs-result">
		{{#lines}}
		<div class="cs-line{{#isMatchBoundary}} cs-line-boundary{{/isMatchBoundary}}"><a class="link-secondary cs-line-no" href="{{href}}" target="_blank">{{lineno}}</a><code class="cs-line-code">{{{html}}}</code></div>
		{{/lines}}
	</div>
</details>
